*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

/* Editando a barra de scroll */
::-webkit-scrollbar{
  width: .5rem;
}

::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 5px;
}

html{
  font-size: 62.5%; /* Fonte padrão 10px */
}

body{
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #0e1538;
}